
/* use color
#0B0B0B(background)
#DADADA(wite)
#F28C28(point)
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0B0B0B;
    color: #F5F5F5;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* NAV */
nav {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

nav button {
    background: none;
    border: none;
    color: #DADADA;
    margin: 0 10px;
    cursor: pointer;
}

nav button:hover {
    color: #F28C28;
}

/* PAGE */
.page {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
    background: radial-gradient(circle at top, #0E1030, #090A22);
}

.page.active {
    opacity: 1;
    pointer-events: auto;
}

/* LOGO */
.abc-icon {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 3px;
}

/* SKILL */
.skill {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.icon {
    width: 60px;
    color: #F28C28;
}

.bar {
    width: 320px;
    height: 12px;
    background: #F5F5F5;
}

.fill {
    height: 100%;
    width: 0;
    background: #F28C28;
    transition: width 1.2s ease;
}

/* PROJECT */
.project-image {
    width: 420px;
    height: 260px;
    border: 2px dashed #F28C28;
}
